.columna {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.columna mat-form-field {
  width: 50%;
}

.btn-save {
  display: flex;
  justify-content: flex-end;
  gap: 25px;
}

.form {
  display: grid;
  grid-gap: 10px;
}

